<body>
    <div id="portfolio_multifamily_leasing_info_div">
        <%= render :partial => "dashboard/portfolio_multifamily_leasing_info" %>
        <%= render :partial => "dashboard/exec_summary_for_leasing_info" %>
    </div>
</body>