<body>
    <div id="property_multifamily_leasing_info_div">
        <%= render :partial => "dashboard/property_multifamily_leasing_info" %>
        <%= render :partial => "dashboard/exec_summary_for_leasing_info" %>
    </div>
</body>
