<body>
<div class="box-1col">
    <div class="box-title"><span class="title">Property Performance</span></div>
    <div class="clearfloat"></div>
      <div class="fltLeft marginT5 ">

      	<label class="radioTab"><input type="radio" value="1" class="valign" name="pageNum"> All</label>
        <label class="radioTab"><input type="radio" value="2" class="valign" name="pageNum"> Commercial Leases</label>

      </div>

      <div class="wrsTab fltrt">
        <ul>
          <li class="wrsTabSelect"><a href="#"><span class="positiveV">NOI Variances</span></a></li>
          <li><a href="#"><span class="nagetiveV">NOI Variances</span></a></li>
          <li><a href="#">Vacancy</a></li>
          <li><a href="#">Expirations</a></li>
          <li><a href="#">Tenant A/R</a></li>
        </ul>
        </div>
      <div class="fltrt rankby">Rank By Highest </div>


      <div class="clearfloat"></div>

       	<table cellspacing="0" cellpadding="6" border="0" width="100%" style="table-layout: fixed;" class="tablefb font12">
        	<thead>
            	<tr class="fb-tr-head">
                	<th style="width: 31px;" class="bdr-lt-gry bdr-rt-wht">Rank</th>
                    <th style="width: 153px;" class="bdr-rt-wht">Property</th>
                    <th style="width: 99px;" class="bdr-rt-wht">Vacancy %, SF</th>
                    <th style="width: 106px;" class="bdr-rt-wht">YTD Op Rev $ </th>
                    <th style="width: 105px;" class="bdr-rt-wht">YTD NOI $</th>
                    <th style="width: 105px;" class="bdr-rt-wht">YTD Cash $</th>
                    <th style="width: 89px;" class="bdr-rt-wht">Tenant A/R>30d</th>
                    <th style="width: 131px;" class="bdr-rt-wht">Expiration <select><option>6Mo.</option></select></th>
                </tr>
             </thead>
          </table>
          <div class="tbloverflow">
          <table cellspacing="0" cellpadding="6" border="0" width="100%" style="table-layout: fixed;" class="tablefb font12">
              <tbody>
                <tr class="tablefbAlternate">
                  <td align="center" class="bdr-lt-gry bdr-rt-gry bdr-top-gry" style="width: 35px;">01</td>
                  <td style="width: 150px;" class="bdr-rt-gry bdr-top-gry"><a class="TxtBold" href="#"><img border="0" class="imgPLM" alt="" title="" src="images/prepertyThumb.png"> Slar Clox</a><br>281,842 SF</td>
                   <td align="center" valign="top" style="width: 99px;" class="bdr-rt-gry bdr-top-gry">
                   	<div class="value-bar-outerSml fltlft">
                   	 <div class="value-barSml"><span class="fltrt">34%</span><img align="left" width="30%" height="16" src="images/vacancygrbg.png"></div>
                     <div class="value-bar-secondlevel">95,768 </div>
                 	</div>
                   </td>
                   <td align="right" style="width: 106px;" class="bdr-rt-gry bdr-top-gry">3,725,764 <br><span class="above">2%, 86,949</span></td>
                   <td align="right" class="bdr-rt-gry bdr-top-gry" style="width: 105px;">3,725,764 <br><span class="above">2%, 86,949</span></td>
                   <td align="right" style="width: 105px;" class="bdr-rt-gry bdr-top-gry">3,725,764 <br><span class="above">2%, 86,949</span></td>
                   <td align="center" style="width: 89px;" class="bdr-rt-gry bdr-top-gry">0</td>
                   <td align="center" style="width: 114px;" class="bdr-rt-gry bdr-top-gry">20,330</td>
                 </tr>
               </tbody>
               <tbody>
                <tr>
                  <td align="center" class="bdr-lt-gry bdr-rt-gry bdr-top-gry">02</td>
                  <td class="bdr-rt-gry bdr-top-gry"><a class="TxtBold" href="#"><img border="0" src="images/prepertyThumb.png" title="" alt="" class="imgPLM">Trade Winds</a><br>235,243 SF</td>
                   <td align="center" valign="top" class="bdr-rt-gry bdr-top-gry">
                   	<div class="value-bar-outerSml fltlft">
                   	 <div class="value-barSml"><span class="fltrt">21%</span><img align="left" width="20%" height="16" src="images/vacancygrbg.png">
                     <div class="value-bar-secondlevel">49,519</div></div>
                 	</div>

                   </td>
                   <td align="right" class="bdr-rt-gry bdr-top-gry">3,738,307 <br><span class="above">1%, 25,963</span></td>
                   <td align="right" class="bdr-rt-gry bdr-top-gry">1,903,789 <br><span class="above">12%,  -21,076</span></td>
                   <td align="right" class="bdr-rt-gry bdr-top-gry">938,411 <br><span class="above">994%, 1,043,431</span></td>
                   <td align="center" class="bdr-rt-gry bdr-top-gry">0</td>
                   <td align="center" class="bdr-rt-gry bdr-top-gry">20,330</td>
                 </tr>
               </tbody>
               <tbody>
                <tr class="tablefbAlternate">
                  <td align="center" class="bdr-lt-gry bdr-rt-gry bdr-top-gry">03</td>
                  <td class="bdr-rt-gry bdr-top-gry"><a class="TxtBold" href="#"><img border="0" src="images/prepertyThumb.png" title="" alt="" class="imgPLM"> Pearl Step</a><br>135,436 SF</td>
                   <td align="center" valign="top" class="bdr-rt-gry bdr-top-gry">
                   	<div class="value-bar-outerSml fltlft">
                   	 <div class="value-barSml"><span class="fltrt">25%</span><img align="left" width="25%" height="16" src="images/vacancygrbg.png"></div>
                     <div class="value-bar-secondlevel">34,522  </div>
                 	</div>
                   </td>
                   <td align="right" class="bdr-rt-gry bdr-top-gry">412,811 <br><span class="above">5%, 20,336</span></td>
                   <td align="right" class="bdr-rt-gry bdr-top-gry">3,725,764 <br><span class="above">2%, 86,949</span></td>
                   <td align="right" class="bdr-rt-gry bdr-top-gry">-51,605 <br><span class="below">33%, 12,843</span></td>
                   <td align="center" class="bdr-rt-gry bdr-top-gry">0</td>
                   <td align="center" class="bdr-rt-gry bdr-top-gry">12,428</td>
                 </tr>
               </tbody>
               <tbody>
                <tr>
                  <td align="center" class="bdr-lt-gry bdr-rt-gry bdr-top-gry">04</td>
                  <td class="bdr-rt-gry bdr-top-gry"><a class="TxtBold" href="#"><img border="0" src="images/prepertyThumb.png" title="" alt="" class="imgPLM">Bang Arc</a><br>235,243 SF</td>
                   <td align="center" valign="top" class="bdr-rt-gry bdr-top-gry">
                   	<div class="value-bar-outerSml fltlft">
                   	 <div class="value-barSml"><span class="fltrt">21%</span><img align="left" width="21%" height="16" src="images/vacancygrbg.png">
                     <div class="value-bar-secondlevel">49,519</div></div>
                 	</div>

                   </td>
                   <td align="right" class="bdr-rt-gry bdr-top-gry">3,725,764<br><span class="above">2%, 86,949</span></td>
                   <td align="right" class="bdr-rt-gry bdr-top-gry">1,901,512 <br><span class="above">11%, -208,070</span></td>
                   <td align="right" class="bdr-rt-gry bdr-top-gry">784,668 <br><span class="above">448%, 641,493</span></td>
                   <td align="center" class="bdr-rt-gry bdr-top-gry">0</td>
                   <td align="center" class="bdr-rt-gry bdr-top-gry">20,330</td>
                 </tr>
                <tr class="tablefbAlternate">
                  <td align="center" class="bdr-lt-gry bdr-rt-gry bdr-top-gry">05</td>
                  <td class="bdr-rt-gry bdr-top-gry"><a class="TxtBold" href="#"><img border="0" src="images/prepertyThumb.png" title="" alt="" class="imgPLM">Beach Cove</a><br>
                    98 Units</td>
                  <td align="center" valign="top" class="bdr-rt-gry bdr-top-gry"><div class="value-bar-outerSml fltlft">
                    <div class="value-barSml"><span class="fltrt">22%</span><img align="left" width="22%" height="16" alt="" src="images/vacancygrbg.png">
                      <div class="value-bar-secondlevel">54,357</div>
                    </div>
                  </div></td>
                  <td align="right" class="bdr-rt-gry bdr-top-gry">3,738,307<br>
                    <span class="above">1%, 25,963</span></td>
                  <td align="right" class="bdr-rt-gry bdr-top-gry">1,900,212 <br>
                    <span class="above">10%, -192,859</span></td>
                  <td align="right" class="bdr-rt-gry bdr-top-gry">938,411<br>
                    <span class="above">994%, 1,043,431</span></td>
                  <td align="center" class="bdr-rt-gry bdr-top-gry">0</td>
                  <td align="center" class="bdr-rt-gry bdr-top-gry">20,330</td>
                 </tr>
                <tr>
                  <td align="center" class="bdr-lt-gry bdr-rt-gry bdr-top-gry">06</td>
                  <td class="bdr-rt-gry bdr-top-gry"><a class="TxtBold" href="#"><img border="0" src="images/prepertyThumb.png" title="" alt="" class="imgPLM">Spurce Plaza</a><br>
                    243,067 SF</td>
                  <td align="center" valign="top" class="bdr-rt-gry bdr-top-gry"><div class="value-bar-outerSml fltlft">
                    <div class="value-barSml"><span class="fltrt">26%</span><img align="left" width="26%" height="16" src="images/vacancygrbg.png">
                      <div class="value-bar-secondlevel">35,684</div>
                    </div>
                  </div></td>
                  <td align="right" class="bdr-rt-gry bdr-top-gry">412,811<br>
                    <span class="above">5%, 20,336</span></td>
                  <td align="right" class="bdr-rt-gry bdr-top-gry">1,887,996 <br>
                    <span class="above">10%, -19,0076</span></td>
                  <td align="right" class="bdr-rt-gry bdr-top-gry">-51,605<br>
                    <span class="below"> 33%, 12,843</span></td>
                  <td align="center" class="bdr-rt-gry bdr-top-gry">0</td>
                  <td align="center" class="bdr-rt-gry bdr-top-gry">12,428</td>
                </tr>
                <tr class="tablefbAlternate">
                  <td align="center" class="bdr-lt-gry bdr-rt-gry bdr-top-gry">07</td>
                  <td class="bdr-rt-gry bdr-top-gry"><a class="TxtBold" href="#"><img border="0" src="images/prepertyThumb.png" title="" alt="" class="imgPLM">LB Office Ce...</a><br>
                   136,598 SF</td>
                  <td align="center" valign="top" class="bdr-rt-gry bdr-top-gry"><div class="value-bar-outerSml fltlft">
                    <div class="value-barSml"><span class="fltrt">25%</span><img align="left" width="25%" height="16" alt="" src="images/vacancygrbg.png">
                      <div class="value-bar-secondlevel">319,369</div>
                    </div>
                  </div></td>
                  <td align="right" class="bdr-rt-gry bdr-top-gry">3,725,764<br>
                    <span class="above">2%, 86,949</span></td>
                  <td align="right" class="bdr-rt-gry bdr-top-gry">1,877,912 <br>
                    <span class="above">9%, -190,100</span></td>
                  <td align="right" class="bdr-rt-gry bdr-top-gry">784,668<br>
                    <span class="above">448%, 641,493</span></td>
                  <td align="center" class="bdr-rt-gry bdr-top-gry">0</td>
                  <td align="center" class="bdr-rt-gry bdr-top-gry">20,330</td>
                </tr>
               </tbody>
               <tbody>
                <tr>
                  <td align="center" class="bdr-lt-gry bdr-rt-gry bdr-top-gry">08</td>
                  <td class="bdr-rt-gry bdr-top-gry"><a class="TxtBold" href="#"><img border="0" src="images/prepertyThumb.png" title="" alt="" class="imgPLM">Trade Winds</a><br>235,243 SF</td>
                   <td align="center" valign="top" class="bdr-rt-gry bdr-top-gry">
                   	<div class="value-bar-outerSml fltlft">
                   	 <div class="value-barSml"><span class="fltrt">21%</span><img align="left" width="20%" height="16" src="images/vacancygrbg.png">
                     <div class="value-bar-secondlevel">49,519</div></div>
                 	</div>

                   </td>
                   <td align="right" class="bdr-rt-gry bdr-top-gry">3,738,307 <br><span class="above">1%, 25,963</span></td>
                   <td align="right" class="bdr-rt-gry bdr-top-gry">1,903,789 <br><span class="above">12%,  -21,076</span></td>
                   <td align="right" class="bdr-rt-gry bdr-top-gry">938,411 <br><span class="above">994%, 1,043,431</span></td>
                   <td align="center" class="bdr-rt-gry bdr-top-gry">0</td>
                   <td align="center" class="bdr-rt-gry bdr-top-gry">20,330</td>
                 </tr>
               </tbody>
               <tbody>
                <tr class="tablefbAlternate">
                  <td align="center" class="bdr-lt-gry bdr-rt-gry bdr-top-gry">09</td>
                  <td class="bdr-rt-gry bdr-top-gry"><a class="TxtBold" href="#"><img border="0" src="images/prepertyThumb.png" title="" alt="" class="imgPLM"> Pearl Step</a><br>135,436 SF</td>
                   <td align="center" valign="top" class="bdr-rt-gry bdr-top-gry">
                   	<div class="value-bar-outerSml fltlft">
                   	 <div class="value-barSml"><span class="fltrt">25%</span><img align="left" width="25%" height="16" src="images/vacancygrbg.png"></div>
                     <div class="value-bar-secondlevel">34,522  </div>
                 	</div>
                   </td>
                   <td align="right" class="bdr-rt-gry bdr-top-gry">412,811 <br><span class="above">5%, 20,336</span></td>
                   <td align="right" class="bdr-rt-gry bdr-top-gry">3,725,764 <br><span class="above">2%, 86,949</span></td>
                   <td align="right" class="bdr-rt-gry bdr-top-gry">-51,605 <br><span class="below">33%, 12,843</span></td>
                   <td align="center" class="bdr-rt-gry bdr-top-gry">0</td>
                   <td align="center" class="bdr-rt-gry bdr-top-gry">12,428</td>
                 </tr>
               </tbody>
               <tbody>
                <tr>
                  <td align="center" class="bdr-lt-gry bdr-rt-gry bdr-top-gry">10</td>
                  <td class="bdr-rt-gry bdr-top-gry"><a class="TxtBold" href="#"><img border="0" src="images/prepertyThumb.png" title="" alt="" class="imgPLM">Bang Arc</a><br>235,243 SF</td>
                   <td align="center" valign="top" class="bdr-rt-gry bdr-top-gry">
                   	<div class="value-bar-outerSml fltlft">
                   	 <div class="value-barSml"><span class="fltrt">21%</span><img align="left" width="21%" height="16" src="images/vacancygrbg.png">
                     <div class="value-bar-secondlevel">49,519</div></div>
                 	</div>

                   </td>
                   <td align="right" class="bdr-rt-gry bdr-top-gry">3,725,764<br><span class="above">2%, 86,949</span></td>
                   <td align="right" class="bdr-rt-gry bdr-top-gry">1,901,512 <br><span class="above">11%, -208,070</span></td>
                   <td align="right" class="bdr-rt-gry bdr-top-gry">784,668 <br><span class="above">448%, 641,493</span></td>
                   <td align="center" class="bdr-rt-gry bdr-top-gry">0</td>
                   <td align="center" class="bdr-rt-gry bdr-top-gry">20,330</td>
                 </tr>
                <tr class="tablefbAlternate">
                  <td align="center" class="bdr-lt-gry bdr-rt-gry bdr-top-gry">11</td>
                  <td class="bdr-rt-gry bdr-top-gry"><a class="TxtBold" href="#"><img border="0" src="images/prepertyThumb.png" title="" alt="" class="imgPLM">Beach Cove</a><br>
                    98 Units</td>
                  <td align="center" valign="top" class="bdr-rt-gry bdr-top-gry"><div class="value-bar-outerSml fltlft">
                    <div class="value-barSml"><span class="fltrt">22%</span><img align="left" width="22%" height="16" alt="" src="images/vacancygrbg.png">
                      <div class="value-bar-secondlevel">54,357</div>
                    </div>
                  </div></td>
                  <td align="right" class="bdr-rt-gry bdr-top-gry">3,738,307<br>
                    <span class="above">1%, 25,963</span></td>
                  <td align="right" class="bdr-rt-gry bdr-top-gry">1,900,212 <br>
                    <span class="above">10%, -192,859</span></td>
                  <td align="right" class="bdr-rt-gry bdr-top-gry">938,411<br>
                    <span class="above">994%, 1,043,431</span></td>
                  <td align="center" class="bdr-rt-gry bdr-top-gry">0</td>
                  <td align="center" class="bdr-rt-gry bdr-top-gry">20,330</td>
                 </tr>
                <tr>
                  <td align="center" class="bdr-lt-gry bdr-rt-gry bdr-top-gry">12</td>
                  <td class="bdr-rt-gry bdr-top-gry"><a class="TxtBold" href="#"><img border="0" src="images/prepertyThumb.png" title="" alt="" class="imgPLM">Spurce Plaza</a><br>
                    243,067 SF</td>
                  <td align="center" valign="top" class="bdr-rt-gry bdr-top-gry"><div class="value-bar-outerSml fltlft">
                    <div class="value-barSml"><span class="fltrt">26%</span><img align="left" width="26%" height="16" src="images/vacancygrbg.png">
                      <div class="value-bar-secondlevel">35,684</div>
                    </div>
                  </div></td>
                  <td align="right" class="bdr-rt-gry bdr-top-gry">412,811<br>
                    <span class="above">5%, 20,336</span></td>
                  <td align="right" class="bdr-rt-gry bdr-top-gry">1,887,996 <br>
                    <span class="above">10%, -19,0076</span></td>
                  <td align="right" class="bdr-rt-gry bdr-top-gry">-51,605<br>
                    <span class="below"> 33%, 12,843</span></td>
                  <td align="center" class="bdr-rt-gry bdr-top-gry">0</td>
                  <td align="center" class="bdr-rt-gry bdr-top-gry">12,428</td>
                </tr>
                <tr class="tablefbAlternate">
                  <td align="center" class="bdr-lt-gry bdr-rt-gry bdr-top-gry bdr-bottom-gry">13</td>
                  <td class="bdr-rt-gry bdr-top-gry"><a class="TxtBold" href="#"><img border="0" src="images/prepertyThumb.png" title="" alt="" class="imgPLM">LB Office Ce...</a><br>
                   136,598 SF</td>
                  <td align="center" valign="top" class="bdr-rt-gry bdr-top-gry bdr-bottom-gry"><div class="value-bar-outerSml fltlft">
                    <div class="value-barSml"><span class="fltrt">25%</span><img align="left" width="25%" height="16" alt="" src="images/vacancygrbg.png">
                      <div class="value-bar-secondlevel">319,369</div>
                    </div>
                  </div></td>
                  <td align="right" class="bdr-rt-gry bdr-top-gry bdr-bottom-gry">3,725,764<br>
                    <span class="above">2%, 86,949</span></td>
                  <td align="right" class="bdr-rt-gry bdr-top-gry bdr-bottom-gry">1,877,912 <br>
                    <span class="above">9%, -190,100 </span></td>
                  <td align="right" class="bdr-rt-gry bdr-top-gry bdr-bottom-gry">784,668<br>
                    <span class="above">448%, 641,493</span></td>
                  <td align="center" class="bdr-rt-gry bdr-top-gry bdr-bottom-gry">0</td>
                  <td align="center" class="bdr-rt-gry bdr-top-gry bdr-bottom-gry">20,330</td>
                </tr>
               </tbody>
        </table>
      </div>

    </div>
</body>
