Hi <%= @buyer_name %>,<br/><br/>

<%= @user.name %> want you to consider the note at the link below for buying <br/><br />
Click the link below to sign up and continue:
<a href="<%= @url1 %>">"<%= @url1 %>"</a><br/><br/>

If the link not work copy paste it in your browser

- AMP Team
