Hi <%= @buyer_name %>,<br/><br/>

<%= @user.name %> want you to consider the property at the link below for buying <br/><br />
<a href="<%= APP_CONFIG[:site_url]+@note.permalink%>"><%= APP_CONFIG[:site_url]+@note.permalink%></a><br/><br/>
If the link not work copy paste it in your browser<br/><br/>

- AMP Team
