<div class="fieldiconcol"><img src="/images/fieldlicon.jpg" width="82" height="85" alt=""/></div>
<div class="fieldrow">
  <div class="fieldlabel">Name <font color=red>*</font> </div>
  <div class="fieldinput"><%=text_field :property_management_system, :name %><br /><span style="color:red"><%= error_message_on :property_management_system, :name %></span></div>
</div>

<div class="fieldrow">
  <div class="fieldlabel">Short Code <font color=red>*</font> </div>
  <div class="fieldinput"><%=text_field :property_management_system, :short_code %><br /><span style="color:red"><%= error_message_on :property_management_system, :short_code %></span></div>
</div>
