	<div class="setupsubnavcol">
	<div class="navrtcol"><img width="4" height="28" src="/images/portfolio_setup_navlf.png" /></div>
	<div class="setupnavlabel"><div class="setupnaviconrow"><img width="16" height="16" src="/images/folder_page.png" /></div>
	<a href="javascript:;" title="" onclick="show_hide_asset_docs1(<%=@folder.portfolio_id %>,<%= @folder.id %>,'hide_del');return false;">Show Files</a>
	</div>
	</div>



