<div class="basicbodycontainer" style="height:auto;width:775px;">
	<div id="sbox-window" style="" class="">
		<div class="sbox-bg-wrap">
			<div class="sbox-bg sbox-bg-n"></div><div class="sbox-bg sbox-bg-ne"></div>
			<div class="sbox-bg sbox-bg-e"></div><div class="sbox-bg sbox-bg-se"></div><div class="sbox-bg sbox-bg-s"></div>
			<div class="sbox-bg sbox-bg-sw"></div><div class="sbox-bg sbox-bg-w"></div><div class="sbox-bg sbox-bg-nw"></div>
			
			<div class="lightbox_headerow">
      <div class="headerow_coll1">
  	   		<img width="18" height="17" src="/images/add_collabaraters_icon.png"/>&nbsp;Add Users
		</div>
    </div>
<div class="collab_lightbox_contentrow" style="padding-right:55px;height:203px;overflow:auto;">
	Users Added Successfully
</div>
	 <br/>
				<h4> &nbsp;</h4>
	    <a id="sbox-btn-close" onclick='Control.Modal.close();return false;' style="cursor: pointer;"></a>
 			</div>
	</div>
</div>