<div id="sbox-window" style="" class="">
  <div class="sbox-bg-wrap"><div class="sbox-bg sbox-bg-n"></div><div class="sbox-bg sbox-bg-ne"></div>
    <div class="sbox-bg sbox-bg-e"></div><div class="sbox-bg sbox-bg-se"></div><div class="sbox-bg sbox-bg-s"></div>
    <div class="sbox-bg sbox-bg-sw"></div><div class="sbox-bg sbox-bg-w"></div><div class="sbox-bg sbox-bg-nw"></div>
  </div>
	<%= form_tag({:controller => "portfolios", :action => "create"}, :multipart => true, :id => "upload_form2")  do %><!--removed iframe from form-->
		<%= render :partial => 'portfolio_form' %>
	<% end %>
<iframe id="upload_frame" name="upload_frame" style="display: none"></iframe>
<a id="sbox-btn-close" onclick='Control.Modal.close();return false;' style="cursor: pointer;"></a>
</div>