<div id="sbox-window" style="" class="">
  <div class="sbox-bg-wrap"><div class="sbox-bg sbox-bg-n"></div><div class="sbox-bg sbox-bg-ne"></div>
    <div class="sbox-bg sbox-bg-e"></div><div class="sbox-bg sbox-bg-se"></div><div class="sbox-bg sbox-bg-s"></div>
    <div class="sbox-bg sbox-bg-sw"></div><div class="sbox-bg sbox-bg-w"></div><div class="sbox-bg sbox-bg-nw"></div>
  </div>
  <div id="sbox-content" style="visibility: visible; opacity: 1;color:black" class="sbox-content-iframe">
		<div class="dialog_light_center">
				<div class="dialog_second_center">
  					<div class="uploadheaderow">
							<div class="uploadheadercoll">Add / Edit  Property Users</div>
						</div>
					<div class="uploadwrapper">
						<div class="uploadrow" style="width:457px;">
							<div class="uploadlabelrow">
									<div class="newfolder_fieldlabel" style="font-weight:normal;">
 									 Go to  <b>Portfolios > Properties & Setup </b> tab to add/edit Property users <br><br>to this property.
              </div>
							</div>
						</div>
					</div>
			</div>
		</div>
  </div>
	<iframe id="upload_frame" name="new_frame" style="display: none"></iframe>
	<a id="sbox-btn-close" class="basic_close" onclick='Control.Modal.close();return false;' style="cursor: pointer;"></a>
</div>

