<div class="fileheadtitlefilename" style="width:585px;" id="folder_head">
  <img src="/images/property.png" style="margin:3px 3px -3px;"/> <font color='#1F75CC'><%=portfolio_type.name %></font> <% if !parent_record.nil? %> <img src='/images/right_arrow.gif' /> <% end %><%=breadcrumb_display_admin(parent_record) %>
  &nbsp;<span id="loader_info" style="display:none;"><img src="/images/upload_spinner.gif" /></span>
</div>