<div class="adminbodyrapper">
<div class="addserverbut">
				<div style="float: left;" class="lebredcomsright">
					<div class="folderlabel">
						<a href="<%= new_admin_db_setting_path %>">
						<div class="folderlabelcol">
							+ Add Server
						</div> </a><span><img border="0" width="2" height="27" src="/images/upllodright.png"></span>
					</div>
				</div>
			</div>
						</div>