
<div class="lite_lhs">
    <div class="lhs_navwrapper">
        <div class="lhs_navactive"><img src="images/white_arrow.png" />Request Demo</div>
		
        <div class="contactinfowrapper">
		  <div class="contactinforow"><img src="images/email_icon.png" /><a href="mailto:praveeny@theamp.com">praveeny@theamp.com</a></div>
		  <div class="contactinforow"><img src="images/telephone_icon.png" />+1 (415) 562-4585 </div>
        </div>
      </div>
  </div>

<div class="lite_rhs">
<h1>Thanks for showing interest in the AMP platform. We will contact you to understand your needs.</h1>
<p>&nbsp;</p>
 If you could not find the confirmation email in your Inbox, please check Spam folder in email box.
 <p>&nbsp;</p>

  If you could not receive the registration email&nbsp;within 10 minutes, or if you have any question, please contact us at <a href="mailto:praveeny@theamp.com">praveeny@theamp.com</a>.
  <form action="" method="get">
    <div class="fieldwrapper"></div></form>
</div>