<!--
Skype 'My status' button
http://www.skype.com/go/skypebuttons
-->
<script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
Udhaya - <a href="skype:udhaya.railsfactory?call"><img src="http://mystatus.skype.com/bigclassic/udhaya%2Erailsfactory" style="border: none;" width="182" height="44" alt="My status" />
</a></br>
Dhanuja - <a href="skype:dhanuja.railsfactory?call"><img src="http://mystatus.skype.com/bigclassic/dhanuja%2Erailsfactory" style="border: none;" width="182" height="44" alt="My status" /></br>
</a>
Adithya<a href="skype:jadithya?call"><img src="http://mystatus.skype.com/bigclassic/jadithya" style="border: none;" width="182" height="44" alt="My status" /></a></br>
Arrvind<a href="skype:arrvind.sedin?call"><img src="http://mystatus.skype.com/bigclassic/arrvind%2Esedin" style="border: none;" width="182" height="44" alt="My status" /></a></br>
