<div id="sbox-window" style="" class="">
  <div class="sbox-bg-wrap"><div class="sbox-bg sbox-bg-n"></div><div class="sbox-bg sbox-bg-ne"></div>
    <div class="sbox-bg sbox-bg-e"></div><div class="sbox-bg sbox-bg-se"></div><div class="sbox-bg sbox-bg-s"></div>
    <div class="sbox-bg sbox-bg-sw"></div><div class="sbox-bg sbox-bg-w"></div><div class="sbox-bg sbox-bg-nw"></div>
  </div>
	
  <div id="sbox-content" style="visibility: visible; opacity: 1;color:black;width:550px;" class="sbox-content-iframe">
		<div class="dialog_light_center">
				<div class="dialog_second_center">
					<div class="uploadwrapper" style="width:526px;">
						
						<div class="uploadrow" style="width:485px;">
							<div class="uploadlabelrow">
								<div class="newfolder_fieldlabel" style="margin-top:3px;">
										<iframe src="http://player.vimeo.com/video/27613710?title=0&amp;byline=0&amp;portrait=0" width="500" height="400" frameborder="0"></iframe><p></p>
								</div>
								<div class="newfolder_fieldinput" style="width:226px;">
							
								</div>
								</div>
				     <div style="color:#666666;font-size:11px;padding-top:27px;width:485px;">

							</div>
						</div>
						<span id="success_error_msg" style="font-size:12px;padding-left:33px;"></span>
						
					</div>
			</div>
		</div>
  </div>

	<iframe id="upload_frame" name="upload_frame" style="display: none"></iframe>
	<a id="sbox-btn-close" onclick='Control.Modal.close();return false;' style="cursor: pointer;"></a>
</div>
<script>

</script>