	<div class="box-1col fontcol">
    <div class="breadcrumb"><a href="/client_admin/<%=current_user.id%>/properties">Property List</a> > Add Property </div>
		<div class="mandatryDiv" align="right" style="margin:-30px 0 10px 762px;">( <span class="txtRed">*</span> )<small> Mandatory Fields is required</small> </div>
		<%@property_types = find_property_types%>
		<%=form_for(@property, :method => :post, :url => client_admin_properties_path,:html=>{:multipart=>true, :id=>"new_prop_submit"}) do |p| %>
		<%=render "form",:p=>p, :property_collection => @property, :property_types => @property_types, :form_name=>"new_prop_submit"%>
		<%end%>
			<div class="clearfloat"></div>
	</div>
