<div class="collab_name_col" style="white-space: nowrap;"><span id="pass_text">Password:</span>
  <a href="javascript:;" onclick="edit_user_password();jQuery(this).hide();jQuery('#user_password').removeClass('signinputboxerror');jQuery('#user_password').addClass('signinputbox');jQuery('#user_password_confirmation').removeClass('signinputboxerror');jQuery('#user_password_confirmation').addClass('signinputbox');jQuery('#emsg').html('&nbsp;');jQuery('input#user_password').focus();return false;" class="bluecolor" id="change_password_link">Change</a>
</div>
<div id="change_password" class="password" style="display:none;">
  <%=render :partial=>"change_password"%>
</div>