        <!--<div class="hoursbox2">-->
        <div class="tbl-head mgmt-head">
          <div class="suite2" style="width:55px;">Suite</div>
          <div class="tenant2" style="width:130px;">Tenant</div>
          <div class="sqft2" style="width:80px;">SF</div>
          <!--newly added for hotfix start-->
          <div class="hoursbox2 lease" style="width:101px;">
            <div class="lease" style="border-bottom:1px solid #E3DFDF; width:99px; background:#4bacc6; margin-left:1px">Lease</div>
            <div class="lease" style="width:50px;">Start</div>
            <div class="lease" style="width:50px;border-left:1px solid #E3DFDF">End</div>
          </div>
          <!--newly added for hotfix end-->
          <div class="options2" style="width:130px;">Options</div>
          <div class="options2" style="width:110px">TIs, Insurance</div>
          <div class="note" style="width:104px;">Attachments</div>
          <div class="actions" style="width:70px">Actions </div>
        </div>