<div class="tbl_lease mgmt-tbl">
	<%= render "mgmt_filter_headers"%>
				<%if find_lease.present?%>
          <%sum = 0 %>
          <% find_lease.each_with_index do |property_lease, i|%>
						<%if property_lease && property_lease.commencement && property_lease.commencement.to_date.strftime("%Y-%m-%d") > Time.now.strftime("%Y-%m-%d")%>
							<% tenant = property_lease.tenant%>
							<% lease = property_lease%>
							<%property_lease_suite = PropertyLeaseSuite.find_by_lease_id(lease.id)%>
							<%suite_details = Suite.suites(property_lease_suite) %>
							<%total_rentable_sqft = 0 %>
								<%= render "mgmt_filter_data",:suite_details=> suite_details,:lease => lease,:tenant => tenant,:property_lease_suite => property_lease_suite,:sum=>sum,:total_rentable_sqft => total_rentable_sqft,:portfolio_collection =>portfolio_collection,:note_collection => note_collection,:i =>i%>
						<%end%>
					 <%end%>
        <%end%>
</div>
