<div id="rent_roll_container">
	<%=render :partial => "/lease/property_rentroll", :locals => {:rent_roll_swig => @rent_roll_swig, :note_collection => @note, :portfolio_collection => @portfolio_collection}%>
</div>