<div class="rhs leaseModule">
	<%=render :partial => '/properties/wres/rent_roll',:locals=>{:rent_roll_wres => @rent_roll_wres,:portfolio_collection => @portfolio,:note_collection => @note,:navigation_start_position => @navigation_start_position,:start_date => @start_date,:timeline_msg =>@timeline_rent}%>
</div>