  <div class="box-1col">


    	<table cellspacing="0" cellpadding="4" border="0" style="width:500px;">
        	<tbody>
            	<tr>
            	<td style="width: 150px;">
                	Company Name:<span class="txtRed">*</span> <br /><input type="text" class="inpt150" />
                </td>
                <td style="width:20px;">&nbsp;</td>
                <td style="width: 150px;">
                	Phone Number: <br /><input type="text" class="inpt150"/>
                </td>
                </tr>
            </tbody>
            <tbody>
            	<tr>
            	<td>
                	Browse Logo:<span class="txtRed">*</span> <br /><input type="file" />
                </td>
                <td>&nbsp;</td>
                <td>
                	Contact Person: <br /><input type="text" class="inpt150"/>
                </td>
                </tr>
            </tbody>
            <tbody>
            	<tr>
            	<td>
                	List of Accounting Systems Mapped to AMP:<br /><textarea class="inptTxt150"></textarea>
                </td>
                <td>&nbsp;</td>
                <td>
                	Address:<br /><textarea class="inptTxt150"></textarea>
                </td>
                </tr>
                <tr><td colspan="3">&nbsp;</td></tr>
            	<tr>
            	  <td>&nbsp;</td>
            	  <td>&nbsp;</td>
            	  <td><div class="button"><a href="javascript:void(0)">Submit</a> <a href="javascript:void(0)">Cancel</a></div></td>
          	  </tr>
            </tbody>

        </table>
    <div class="clearfloat"></div>
    </div>
